body{
	background: aqua;
	text-align: center;
}

button {
	display: inline-block;
	width: 6rem;
	background: white;
	border: thin solid #c3c3c3;
	border-radius: 5px;
	margin: 20px;
}

button p{
	margin: 0;
	padding: 10%;
	display: inline-block;
	font-size: 1.6rem;
	text-decoration: none;
	color: #444555;
}

h1{
	color: brown;
	font-size: 5rem;
	font-weight: bold;
	text-shadow: 2px 2px 5px #000;
}

footer{
	border-top: thin solid #f3f3f3;
	margin: 1% 10%;
	width: 80%;
	position: absolute;
	bottom: 0;
	text-align: center;
}

footer p{
	display: block;
	text-align: center;
	width: 100%;
	color: #fff;
	text-shadow: 1px 2px 3px #000;
}